<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{static/css/common.css}" />
    <link rel="stylesheet" th:href="@{static/css/cart.css}" />
    <link rel="stylesheet" th:href="@{static/css/bookManger.css}" />
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{index}">
            <img th:src="@{static/img/logo.gif}" alt=""
            /></a>
          <h1>图书管理系统</h1>
        </div>
        <div class="header-right">
          <a href="#" class="order">图书管理</a>
          <a th:href="@{orderHtml(order='queryAllOrder')}" class="destory">订单管理</a>
          <a th:href="@{index}" class="gohome">返回商城</a>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="w">
        <div class="add">
          <a th:href="@{bookHtml(user='skipAddBook')}">添加图书</a>
        </div>
        <table>
          <thead>
            <tr>
              <th>图片</th>
              <th>商品名称</th>
              <th>价格</th>
              <th>作者</th>
              <th>销量</th>
              <th>库存</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item:${bookList}">
              <td>
                <img th:src="${item.imgPath}" alt="" />
              </td>
              <td th:text="${item.bookName}">活着</td>
              <td th:text="${item.price}">
                100.00
              </td>
              <td th:text="${item.author}">余华</td>
              <td th:text="${item.sales}">200</td>
              <td th:text="${item.stock}">400</td>
              <td>
                <a th:href="@{bookHtml(user='skipEditBook',id=${item.bookId})}">修改</a>
                <a th:href="@{bookHtml(user='delBook',id=${item.bookId},pageNo=${session.pageNo})}" class="del">删除</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="footer">
          <div class="footer-right">
            <input type="button" value="首 页" class="btn" th:onclick="|page(1)|" th:disabled="${session.pageNo==1}">
            <input type="button" value="上一页" class="btn" th:onclick="|page(${session.pageNo-1})|" th:disabled="${session.pageNo==1}">
            <ul style="margin-right: 10px">
              <li
                      style="display: none;width: 20px"
                      th:each="item:${session.object}"
                      th:text="${item}"
                      th:class="${session.pageNo == item ? 'active' : ''}"
                      th:onclick="|page(${item})|"
              >
              </li>
            </ul>
            <input type="button" value="下一页" class="btn" th:onclick="|page(${session.pageNo+1})|" th:disabled="${session.pageNo==session.pageCount}">
            <input type="button" value="尾 页" class="btn" th:onclick="|page(${session.pageCount})|" th:disabled="${session.pageNo==session.pageCount}">
            <span>共<e class="e" th:text="${session.pageCount}">10</e>页</span>
            <span th:text="|${session.bookCount}条记录|">30条记录</span>
            <span>到第</span>
            <input type="text" id="tz">
            <span>页</span>
            <input type="hidden" th:value="${session.pageCount}" id="yc">
            <button id="btn2">确定</button>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="w">
        <div class="top">
          <ul>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom1.png}" alt="" />
                <span>售后服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img th:src="@{tatic/img/bottom.png}" alt="" />
                <span>物流服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom2.png}" alt="" />
                <span>联系电话</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="content">
          
        </div>
      </div>
      <div class="down">
        Deer.Copyright ©2022
      </div>
    </div>
  </body>
  <script th:src="@{static/script/book_manager.js}"></script>
</html>
