<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{static/css/common.css}" />
    <link rel="stylesheet" th:href="@{static/css/cart.css}" />
    <style>
    </style>
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{index}">
            <img th:src="@{static/img/logo.gif}" alt=""
          /></a>
          <h1>商品详情</h1>
        </div>
        <div class="header-right">
          <h3>欢迎<span th:text="${session.currUser.userName}">会员</span>光临Deer书城</h3>
          <div class="order"><a th:href="@{orderHtml(order='getOrderCount')}">我的订单</a></div>
          <div class="destory"><a th:href="@{userHtml(user='logout')}">注销</a></div>
          <div class="gohome">
            <a th:href="@{index}">返回</a>
          </div>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="w">
        <table>
          <thead>
            <tr>
              <th>商品名称</th>
              <th>数量</th>
              <th>金额</th>
              <th>提交时间</th>
            </tr>
          </thead>
          <tbody>
          <tr th:each="item : ${items}">
            <td th:text="${item.bookName}">商品名称</td>
            <td th:text="${item.bookCount}">数量</td>
            <td th:text="${item.price}">金额</td>
            <td th:text="${item.createTime}">提交时间</td>
          </tr>
          </tbody>
        </table>
        <div class="footer">
          <div style="display: flex;position: absolute;left: 650px;top: 50px;">
            <h3 style="padding: 2px">订单状态</h3>
            <input type="hidden" th:value="${session.num}" id="yc">
              <label>
                <select id="sel">
                  <option value="0" th:selected="${status == 0}">待发货</option>
                  <option value="1" th:selected="${status == 1}">已发货</option>
                  <option value="2" th:selected="${status == 2}">已签收</option>
                </select>
                <input type="submit" id="btn">
              </label>
          </div>
          <div class="footer-left">
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="w">
        <div class="top">
          <ul>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom1.png}" alt="" />
                <span>售后服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom.png}" alt="" />
                <span>物流服务</span>
              </a>
            </li>
            <li>
              <a href="">
                <img th:src="@{static/img/bottom2.png}" alt="" />
                <span>联系电话</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="content">
          
        </div>
      </div>
      <div class="down">
        Deer书城.Copyright ©2022
      </div>
    </div>
  </body>
<!--  <script th:src="@{static/script/cart.js}"></script>-->
  <script>
        let btn = document.querySelector("#btn");
        let sel = document.querySelector("#sel");
        let  yc = document.querySelector("#yc");
        btn.onclick = function (){
          window.location.href = "orderHtml?order=modifyState&num="+yc.value + "&status="+sel.value;
        }
  </script>
</html>
